:root {
  --grid-width: 3;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 8vw
}

.topleft {
  position: absolute;
  top: 0;
  font-size: 6vw
}
input[type=checkbox] {
  width: 4vw;
  height: 4vw;
  margin-top: 2.5vw;
}

#topright > img {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  height: 8vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  position: relative;
}
td:after {
  content: "";
  display: block;
  margin-top: 100%;
}

td > span {
  position: absolute;
  font-size: calc(30vw / var(--grid-width));
}

td > input {
  position: absolute;
  width: 100%;
  margin-top: calc((30vw + 25vw * (1 - var(--font-scale, 1))) / var(--grid-width));
  text-align: center;
  font-size: calc(var(--font-scale, 1) * 50vw / var(--grid-width));

  background: transparent;
  border: 0;
  padding: 0;
}

.circle {
  background-color:palegreen
}

.dark {
  background-color: gray;
}

#clue {
  width: 100%;
  text-align: center;
  background-color: #A4ABFF;
  height: calc(100vw / var(--grid-width));
  font-size: calc(80vw / var(--grid-width));
  margin-top: 2vw;
}

#clue > input {
  border: 0;
  background-color: #A4ABFF;
  font-size: calc(80vw / var(--grid-width));
  width: 59vw;
}

#clue > button {
  background-color: yellow;
  padding: 0;
  font-size: calc(40vw / var(--grid-width));
  width: 39vw;
  height: 100%;
  float: right;
}

#measurer {
  width: auto;
  display: inline-block;
  visibility: hidden;
  position: fixed;
  overflow: auto;
}
