:root {
  --grid-width: 8;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0 1vw;
  font-size: 6vw;
}

#topleft {
  flex-shrink: 0;
  font-size: 4vw;
}

#topleft input[type="checkbox"] {
  width: 3vw;
  height: 3vw;
  margin-right: 0;
}

#topleft label {
  margin-left: -1vw;
}

#topright > img {
  top: 0.5vw;
  right: 0.5vw;
  height: 8vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0;
  position: relative;
}
td:after {
  content: "";
  display: block;
  margin-top: 100%;
}

td > span {
  position: absolute;
  font-size: calc(30vw / var(--grid-width));
  background: white;
}

td > input {
  position: absolute;
  width: 100%;
  margin-top: calc((30vw + 25vw * (1 - var(--font-scale, 1))) / var(--grid-width));
  text-align: center;
  font-size: calc(var(--font-scale, 1) * 50vw / var(--grid-width));
  text-transform: uppercase;

  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
}

.circle:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid black;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.sameWord {
  background-color: #A4ABFF;
}

.shared {
  background-color: yellowgreen;
}

.focused {
  background-color: yellow;
}

.dark {
  background-color: gray;
}

#cluebar {
  display: flex;
  align-items: center;
  background-color: #a4abff;
  height: calc(100vw / var(--grid-width));
}

#share {
  height: 100%;
  cursor: pointer;
}

#clue {
  width: 98vw;
  text-align: center;
  font-size: calc(var(--font-scale, 1) * 80vw / var(--grid-width));
  margin-top: 2px;
  padding-left: 1vw;
  padding-right: 1vw;
}

#clue > input {
  border: 0;
  background-color: #a4abff;
  font-size: calc(80vw / var(--grid-width));
  width: 57vw;
}

#goButton {
  background-color: yellow;
  padding: 0;
  font-size: calc(40vw / var(--grid-width));
  width: calc(100vw / var(--grid-width));
  height: 100%;
  float: right;
}

#clues {
  display: grid;
  grid-template-columns: 1fr 1fr;

  font-size: 2vw;
  font-family: Arial, sans-serif;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#clues h3 {
  margin: 0;
  font-size: 6vw;
}

#clues ol {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

/* TODO update this from JS on each letter change it clue is done
Also click the clue to get to the word? 
Check Github bug */
.finished {
  color: grey;
}

#clues textarea {
  width: 100%;
  margin: 0;
  resize: vertical;
  box-sizing: border-box;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

#clues button {
  position: absolute;
  left: 40vw;
}

#measurer {
  width: auto;
  display: inline-block;
  visibility: hidden;
  position: fixed;
  overflow: auto;
}
